@use 'base/mixins' as m;
@use 'base/variables' as v;

.quienes-somos{
    display: grid;
    height: 500px!important;
    @include m.grid(2, 2rem);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "somos1 somos2"
        "somos1 somos2";
    
    @include m.telefono{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 
            "somos1"
            "somos2";
    }
    @include m.iphone12{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 
            "somos1"
            "somos2";
    }
    @include m.tablet{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "somos1 somos2"
        "somos1 somos2";
    }
    padding-top: 9.3rem;
    
    .somos--grid_texto{
        grid-area: somos2;
        width: 90%;
        margin-bottom: 2rem;
        h3{
            text-align: center;
            color: v.$blanco;
        }
        @include m.telefono{
            margin-bottom: 20rem;
            h3{
                color: v.$morado;
            }
            p{
                margin-top: -2rem;
                margin-left: 3.5rem;
            }
        }
    }
}
.somos-grid{
    grid-area: somos1;
}
.bg-azul{
    background-image: url(/build/img/Fondo-para-Medico.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 15rem;
}

.somos--grid_doctor{
    margin-top: -11rem;
    align-items: center;
    img{
        width: 60%;
        margin: 0 auto;
        @include m.tablet{
            width: 90%;
        }
        @include m.desktop{
            width: 70%;
        }
    }
    
}